body {
background-color: #898989;
align-content: center;
font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.gamedes {
	height: auto;
	background-color: lightgray;
	border: solid 1px black;
	padding-left: 5px;
	
}

.ruledes{
	height: auto;
	background-color: lightgray;
	border: solid 1px black;
}

.linkboi{
	height: auto;
	background-color: lightgray;
	border: solid 1px black;
	padding: 5px;
}

.imageboi{
	margin: 80px;
}

.titlebar{

}