	body{
		background-color: lightgray;
	}
	.color{
		color: black;
		text-align: center;
	}
	
	.greyBox{
		background-color: darkgray;
	}
	.dropdownButton{
		margin-top: 35px;
	}
	.title{
		margin-top: 25px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.subtitle{
		height: 35px;
	}
	.footer{
		margin-top: 20px;	
	}
	.centerPicture{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}